<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Over!</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
</head>
<body>
    <h1>Game Over!</h1>
    <h2>Congratulations, {{ winner }}!</h2>

    <h3>Final Scores:</h3>
    <ul>
        {% for player, score in scores.items() %}
            <li>{{ player }}: {{ score }}</li>
        {% endfor %}
    </ul>

    <p>Thank you for playing!</p>
    <div style="position: fixed; bottom: 20px; right: 20px;">
        <a href="/instructions" style="text-decoration: none;">
            <button>Instructions</button>
        </a>
        <a href="/reset_game/{{ code }}" style="text-decoration: none;">
            <button style="background-color: red; color: white;">Reset Game</button>
        </a>
    </div>
    
    <script>
        socket.on('game_reset', (data) => {
    console.log("Game reset. Navigating to lobby...");
    window.location.href = `/lobby/${data.room}`;
});

    </script>
</body>
</html>
