<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>
    <h1>Welcome to Common Friends!</h1>
    <h4>Forget the facts... How well do you know people?</h4><br>

    <!-- Form to Create a New Game -->
    <form method="POST">
        <button type="submit" name="action" value="create">Create Game</button>
    </form>
    <br><br>
    <h3>Or Join an Existing Game:</h3>
    <!-- Form to Join an Existing Game -->
    <form method="POST">
        <input type="text" name="code" placeholder="Enter Game Code" required>
        <button type="submit" name="action" value="join">Join Game</button>
    </form>
    <br><br><br><br>
    <h4>Gameplay: </h4>
    <h4>- Players agree on a list of people who are known by all players. These can be friends, family, coworkers, celebrities, or anyone else!<br><br>
        - The more the merrier! Adding more common friends to the list makes the game more interesting, as 5 random friends will be used for each round. <br><br>
        - On a player's turn, they choose another player to target. The targeted player reads the question and selects the friend who the question applies to the most.<br><br>
        - The judge then guesses who the targeted player selected.<br><br>
        - If the judge is correct, the judge is awarded a point. <br><br>
        - If the judge is incorrect, the targeted player gets the point.<br><br>
        - The first player to 10 points wins the game.<br><br>
        - Be Honest in your answers!<br><br>
        - Grab your favorite beverage and have a great time with your friends!<br><br>
    </h4>
</body>
</html>
